<div class="bg">
  <div class="mail_title">Save a Life</div>
  <div class="main_data">Rs. <span class="main_number"><%= @donation_amount.to_s(:delimited) %></span> raised</div>
  <div class="main_data">We have created <span class="main_number"><%= @treatment_amount.to_s(:delimited) %></span> treatments</div>
  <div class="main_data"><span class="main_number"><%= @applause_num.to_s(:delimited) %></span> applauses now!</div>
  
  <div class="button-field">
    <button type="button" class="button1"data-toggle="modal" data-target="#applauseModal">
      Applause now! (Free)
    </button>
    <button type="button" class="button1"data-toggle="modal" data-target="#contributeModal">
      Contribute now
    </button>
  </div>

  <% if user_signed_in? %>
    <br> <br>
    <div align="center">
      <button type="button" class="button_blue" data-toggle="modal" data-target="#editNumber">
        Edit Numbers (Admin Only)
      </button>
    </div>
  <% end %>

</div>
<div class="container">
  <h4 class="subtitle">Patients' Stories</h4>
  <span><%= link_to 'View all', micropost_index_path(status: 'treatment') %></span>
  <div class="row" align="center">
    <% @microposts_treatment.first(3).each do |micropost| %>
      <div class="col-sm-4 post-box-wrapper">
        <%= link_to micropost_path(micropost) do %>
          <div class="post-box">
            <div class="box-title">
              <b><%= micropost.title %></b>
            </div>
            <div class="box-thumb">
              <% if micropost.image? %>
                <%= image_tag micropost.image_url(:thumb) %>
              <% end %>
            </div>
            <div class="box-content">
              <%= micropost.content %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <h4 class="subtitle">Survivors' Stories</h4>
  <span><%= link_to 'View all', micropost_index_path(status: 'suvivor') %></span>
  <div class="row" align="center">
    <% @microposts_survivor.first(3).each do |micropost| %>
      <div class="col-sm-4 post-box-wrapper">
        <%= link_to micropost_path(micropost) do %>
          <div class="post-box">
            <div>
              <%= micropost.title %>
            </div>
            <div class="box-thumb">
              <% if micropost.image? %>
                <%= image_tag micropost.image_url(:thumb) %>
              <% end %>
            </div>
            <div class="box-content">
              <%= micropost.content %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="editNumber" tabindex="-1" role="dialog" aria-labelledby="editNumberLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editNumberLabel">Edit Numbers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= form_for(@donation, url: add_donation_path )do |f| %>
            <label>Add Donation:</label>
            <%= f.number_field :amount , class: 'form-control' %> <br>
            <%= f.submit "Add", class: "btn-sm btn-primary"  %>
          <% end %>
        </div>
        <div class="form-group">
          <%= form_for(@treatment, url: add_treatment_path )do |f| %>
            <label>Add Treatment:</label>
            <%= f.number_field :amount, class: "form-control" %> <br>
            <%= f.submit "Add", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="applauseModal" tabindex="-1" role="dialog" aria-labelledby="applauseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applauseModalLabel">Applause</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= form_tag(applause_create_path, method: :post) do %> 
            <label>Comment:</label>
            <textarea name="comment" class="form-control" placeholder="Let's cheer!"></textarea>
            <br>
            <%= submit_tag 'Applause', class: 'button_blue_sm' %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="contributeModal" tabindex="-1" role="dialog" aria-labelledby="contributeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contributeModalLabel">Check it</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          The donation system is in the HP of Indian Cancer Society. You are going to redirect to HP and find forms there. <br> <br>
          In "Purpose of donation", please check <b>Cancer Treatment</b>. Then you can contribute to it. <br>
          <div>
            <%= image_tag 'donate-description.png', class: 'donate-description' %>
          </div>
        </div>
        <div style="text-align: center;">
          <a href="http://www.indiancancersociety.org/how-you-can-help/donate.aspx" target="blank"><button class="button1-sm">OK</button></a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
.mail_title {
  font-size: 120px;
  text-align: center;
  color: white;
  font-style: italic;
  padding-top: 40px;
}

.bg {
  background-image: url(<%= asset_path "home-background.jpg" %>);
  min-height: 820px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_data {
  font-size: 35px;
  text-align: center;
  color: white;
}
.main_number {
  font-size: 70px;
  font-style: italic;
}
.button-field {
  padding-top: 40px;
  text-align: center;
}

.post-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-box {
  width: 90%;
  height:360px;
  margin:5px;
  padding:10px;
  background-color:white;
  color: black;
}

.subtitle {
  margin-top: 60px;
  margin-bottom: 12px;
}
.box-thumb img {
  margin-top: 5px;
  height: 180px;
  width: 90%;
  object-fit: cover;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.box-content {
  width: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: left;
  margin: 10px 0px;
}
.post-box-wrapper a {
  text-decoration: none;
}
.donate-description {
  width: 100%;
}

@media screen and ( max-width:479px )
{
  .mail_title {
    font-size: 60px;
    text-align: center;
    color: white;
    font-style: italic;
    padding-top: 10px;
  }
  .bg {
    background-image: url(<%= asset_path "home-background.jpg" %>);
    min-height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main_number {
    font-size: 40px;
    font-style: italic;
  }
  .main_data {
    font-size: 30px;
    text-align: center;
    color: white;
  }
}
</style>