<div class="container">
  <div class="field">
    <h1 class="micropost-title">
      <%= @micropost.title %>
    </h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="profile-image" align="center">
          <% if @micropost.image? %>
            <%= image_tag @micropost.image_url(:thumb) %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="post-header-intro">
          <%= @micropost.name %> <br>
          <%= @micropost.status %> <br>
        </div>
        <div class="post-contribute-btn">
          <a href="http://www.indiancancersociety.org/how-you-can-help/donate.aspx" target="blank"><button class="button1">Contribute now</button></a>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-8">
        <%= qiita_markdown(@micropost.content) %>
      </div>
      <div class="col-md-4"></div>
    </div>
    <% if user_signed_in? %>
    <tr>
      <th>Links</th>
      <td>
        <%= link_to 'Edit', edit_micropost_path %> <br>
        <%= link_to 'Back', root_path %> <br>
        <%= link_to 'Delete', micropost_path(@micropost), method: :delete %> <br>
        
      </td>
    </tr>
    <% end %>
  </div>
</div>

<style>
.profile-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.field {
  background-color: white;
  padding: 30px 100px;
}
.micropost-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.content {
  margin-top: 40px;
}
table tbody td {
  max-width: 100%;
  word-wrap: break-word;
}
@media screen and ( max-width:479px )
{
  .field {
    background-color: white;
    padding: 10px 7px;
  }
  .post-contribute-btn {
    text-align: center;
    margin-top: 10px;
  }
  .post-header-intro {
    text-align: center;
    margin-top: 10px;
  }
}
</style>