<!DOCTYPE html>
<html>
  <head>
    <title>Donation for Cancer | Indian Cancer Society</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta  name="viewport" content="width=device-width">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113767013-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113767013-2');
    </script>

    
  </head>

  <body>
      <%= render 'layouts/header' %>
      <div id="wrap">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
  </body>
</html>

<style>
html,
body {
  height: 100%;
  font-family: 'Noto Sans',sans-serif;
  line-height: 1.42857143;
  background-color: #f3f4f7;
}
@media screen and ( max-width:479px )
{
  body {
    font-size: 14px;
  }
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
</style>